.tab:hover{
    background-color: #c1a4a4;
}
.tab.active{
    background-color: #ac8686;
}
.tab{
    border: 20px black !important;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.line{
    color: black;
    display: block;
}

.mypanel{
    background-color: #eae1e1 !important;
}

.inputs{
    display: table;
    border-spacing:5px;
}
.cell{
    display: table-cell;
}
.cell_bottom{
    display: table-cell;
    vertical-align: bottom;
}
.cell_ehr{
    display: table-cell;
    width: 70%;
}
.input_ehr{
    display: table-cell;
    width: 100%;
}

.break{
    width:100%;
    height: 20px;
}

.panel_head{
    background-color: #b79595 !important;
}
.topmargin{
    margin-top: 20px;
}
.leftmargin{
    margin-left: 20px;
}


.maintab:hover{
    background-color: #c1a4a4;
}
.maintab.active{
    background-color: #ac8686;
}
.maintab{
    border: 20px black !important;
}

.meritve{
    background-color: #eae1e1;
}
.res:hover{
    background-color: #c1a4a4;
}
.res{
    cursor: pointer;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.rooms:hover{
    background-color: #b79595 !important;
    cursor: pointer;
}

.avatar{
    max-width: 45px;
}
.chatheight{
    overflow-y: scroll;
    height: 500px;
}
.usersscroll{
    overflow-y: scroll;
    height: 250px;
}
.slika{
    width: 400px !important;
}